* {
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
}

.hero-landing {
    width: 100%;
    height: 100vh;
    background-image: url("../img/bg-hero2.jpg");
    background-size: cover;
    text-align: center;
    border: 2px solid #343A40;
}

.hero-peserta {
    width: 100%;
    height: 100vh;
    background-image: url("../img/bg-hero3.jpg");
    background-size: cover;
    text-align: center;
    border: 2px solid #343A40;
}

.desc {
    width: 100%;
    height: 100vh;
    padding-top: 7rem;
    background-color: #343A40;
    text-align: center;
}

.proses {
    width: 100%;
    height: 100vh;
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-image: url("../img/bg-proses.jpg");
    background-size: cover;
}

.gabung {
    width: 100%;
    height: 100vh;
    padding-top: 3rem;
    background-image: url("../img/bg-bergabung.jpg");
    background-size: cover;
}

.hubungi {
    width: 100%;
    height: 195vh;
    padding-top: 4rem;
    background-color: #343A40;
}

.footer {
    width: 100%;
    height: 8vh;
    padding-top: 1.5rem;
    background-color: #424A51;
    color: white;
    text-align: center;
}

h1.opening {
    font-size: 3.5rem;
    margin-top: 100px;
}

p.deskripsi {
    margin-bottom: 0;
    font-size: 15px;
}

.title-section {
    color: #6C63FF;
}

.line-title {
    width: 220px;
    border-bottom: 3px solid #6C63FF;
}


/* ===============  Navbar  =================== */
.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #0499dc;
}

.navbar .nav-link.active {
    color: #343A40;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #343A40;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.solid {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.solid .nav-link {
    color: #0499dc;
}

.navbar.solid .nav-link.active {
    color: #343A40;
}

.navbar.solid .nav-link:hover,
.navbar.solid .nav-link:focus {
    color: #343A40;
    text-decoration: none;
}

.navbar.solid .navbar-brand {
    color: #555;
}

.logo {
    width: 20%;
}

@media (max-width: 576px) {
    .logo {
        width: 100px;
    }
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .logo {
        width: 100px;
    }
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand,
    .navbar .nav-link {
        color: #555;
    }
}
